<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Sistem Temu Kembali Informasi Pesawat udara Militer</title>
  </head>
  
  <body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-phone-fill phone-icon"></i> Ardyansyah Vira Bahrudin
        </div>
    </section>
  
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
  
        <h1 class="text-white" style="font-size: 20px"> SISTEM TEMU KEMBALI INFORMASI PESAWAT UDARA MILITER</a></h1>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
            <li><a class="nav-link scrollto" href="/panduan">Panduan</a></li>
            <li><a class="nav-link scrollto" href="/identification">Pencarian</a></li>
            <li><a class="nav-link scrollto" href="/dataset">Dataset</a></li>
            <li><a class="nav-link scrollto" href="/pelatihan">Training Data</a></li>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->
  
   
    <!-- <section id="hero" class="d-flex">
      <div class="jumbotron jumbotron-fluid container position-relative">
        <h1 class="display-4 text-center">Selamat Datang</h1>
    </div>
    </section> -->

    <body>
      
      <section id="hero" >
        <br><br>
        <div class="jumbotron jumbotron-fluid container position-relative">
          <h1 class="display-4 text-center">Selamat Datang</h1>
      </div>
          <br><br><br>
        <!-- awal section -->
        <div id="about" class="about position-relative" >
          <div class="container">
    
            <div class="row">
              <div class="col-lg-6 order-1 order-lg-2" style="padding-top:40px;padding-bottom:20px">
                <img src="/static/image/generasi muda.jpg" class="img-center img-thumbnail rounded z-depth-3" style="width: 800px" >
              </div>
              <div class="col-md-6 col-lg-6 ml-lg-auto">
                <div class="pr-md-3 text-white fs-5 ">
                  Website ini dirancang untuk masyarakat khususnya generasi muda yang saat ini sedang sedang dalam masa pembelajaran atau ingin mengetahui informasi pesawat udara militer. Hingga saat ini belum dapat ditemukan adanya sarana informasi yang dapat memberikan informasi yang dapat memberikan informasi secara lengkap, dikarenakan informasi tersebut masih banyak banyak yang bersifat rahasia atau tidak dapat diakses secara publik, hanya dapat diakses oleh orang tertentu. 
                    </br>Hingga saat ini belum dapat ditemukan adanya sarana informasi yang dapat memberikan informasi yang dapat memberikan informasi secara lengkap, dikarenakan informasi tersebut masih banyak banyak yang bersifat rahasia atau tidak dapat diakses secara publik, hanya dapat diakses oleh orang tertentu.  </p>
                </div>
            </div>
            </div>
          </div>
        </div>
        <!-- End About Section -->
      </section>

      <section id="hero">
        <!-- awal section -->

        <div class="container-fluid position-relative" style="padding-top:40px;padding-bottom:20px">
          <div class="container">
              <div class="row cols-xs-space cols-sm-space align-items-center">
                  <div class="col-md-6">
                      <img src="/static/image/museum-dirgantara-mandala-kembali-dibuka.jpg" class="img-center img-thumbnail rounded z-depth-3" style="width: 800px">
  
                  </div>
                  <div class="col-md-6 col-lg-6 ml-lg-auto">
                      <div class="pr-md-3 text-white fs-5">
                        Tempat informasi yang tersedia saat ini masih berupa bentuk cetak seperti brosur-brosur dan buku-buku tentang pesawat udara militer, serta museum-museum yang dikelola oleh Tentara Nasional Indonesia (TNI) dan museum-museum kedirgantaraan yang dikelola oleh TNI Angakatan Udara (TNI AU).
                          </br>Maka dari itu tujuan website ini dirancang adalah untuk membantu masyarakat mengetahui informasi tentang pesawat udara militer dengan lebih jelas dan lengkap</p>
                      </div>
                  </div>
  
              </div>
          </div>
      </div>

      <br><br><br>
      <div class="jumbotron jumbotron-fluid container position-relative">
        <h1 class="fw-normal text-capitalize fs-4 text-center">Untuk mengetahui bagaimana cara melakukan pencarian dapat dilihat pada halaman <a href="/panduan" class="text-link">Panduan</a></h1>
    </div>
      </section>
      <!-- End Hero -->
  
  </body>
    
    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer">
      <div class="container">
        <div class="row">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Ardyansyah Vira Bahrudin</span></strong>. All Rights Reserved
      </div>
    </footer>
    <!-- End Footer -->
</html>